@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

$bd-description-mode: linear-gradient(180deg, #FFFFFF 0%, #F6F4E7 100%), #C4C4C4;
$bg-color: #DEDFE3;
$active-color: #FFF;
$input-text-color: #5D6165;
$todo-bg-color: #CED2DA;
$todo-color-selector: #E9E9E9;

body { 
    background-color: $bg-color;
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app__bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.td--wrapper {

    * {
        overflow: hidden;
    }

    &.is__note__mode {
        background-color: $bd-description-mode;
        transition: background-color 0.3s;
    }

    
    &.is__height1 {
        height: 75px;
        transition: height 0.3s;
    }

    &.is__height2 {
        height: 150px;
        transition: height 0.3s;
    }

    &.is__height3 {
        height: 225px;
        transition: height 0.3s;
    }

    .td__note {
        &:empty::before  {
            content: attr(placeholder);
            color: $todo-color-selector;
        }
    }

    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 75px;
    width: 50%;
    background-color: $input-text-color;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    margin: auto;
    border-radius: 25px;
    background: $todo-bg-color;
    transition: background .3s;
    z-index: 1;

    &.is__active {

        &.is__noteMode {
            background-color: $bd-description-mode;
            transition: background-color 0.7s;
        }

        background: $active-color;
        box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        
        
        .td__right {
            * {
                opacity: 1;
                transition: opacity 0.3s;
            }
        }
        .td__left {
            .td__selectColor {
                left: 0px;
                transition: left 0.3s;
            }            
        }

        .td__editor {
            padding-left: 10px;
            transition: padding-left .3s;
        }
    }
    

    .td__editor { 
        height: inherit;
        // padding: 28px 10px;
        flex-grow: 7;
        width: 100px;
        border: 0px;
        order: 2;
        outline: 0px;
        padding-top: 28px;
        color: $input-text-color;

        &:empty::before {
            content: attr(placeholder);
            color: #62666D; 
        }
        &:empty:focus {
            color:#D9D9D9;
            content: attr(placeholder);
            transition: 0.3s;
        }
    }

    .td__left {
        height: inherit;
        order: 1;
        flex-grow: 0.1;
        background:  inherit;

        padding-top: 25px;
        padding-left: 15px;

        
        .td__selectColor {
            background: $todo-color-selector;
            width: 25px;
            height: 25px;
            border-radius: 7px;
            left: -40px;
            position: relative;
        }
    }

    .td__right {
        * {
            opacity: 0;
        }

        height: inherit;
        order: 4;
        width: auto;
        flex-grow: 0.5;
        background:  inherit;
        gap: 10px;
        display: flex;
        flex-direction: row;
        
        .td__date {
            position: relative;
            width: auto;
            height: 35px;
            padding: 10px;
            top: 20px;
            background-color: $todo-color-selector;
            border-radius: 10px;       
            i {
                color:$input-text-color;
            }    
        }

        .td__list {
            
            position: relative;
            height: 35px;
            padding: 10px 15px;
            top: 20px;
            background-color: $todo-color-selector;
            border-radius: 10px;      


            i.td__circle {
                position: relative;
                top: -10px;
            }

            p.td__text {
                display: inline;
                color:$input-text-color;
                order: 2;
                position: relative;
                top: -2px;
            }

            i.td__icon {

            }


        }

    }



}